body {
    margin: 0;
    padding: 0;
}

#filterForm {
    width: 500px;
    margin: 200px auto;
}

#filterForm input {
    width: 450px;
    height: 20px;
    margin: 5px;
    border: solid black 1px;
}

/*#messages {*/
    /*width: 60%;*/
    /*margin-top: 50px;*/
    /*margin-left: 20%;*/
    /*float: left;*/
/*}*/

#rightColon {
    margin-left: 65%;
    width: 30%;
}

p {
    border-bottom: solid darkcyan 1px;
}

#stopButton {
    width: 120px;
    height: 25px;
    margin-top: 20px;
    font-size: 15px;
    background-color: darkcyan;
    border: none;
}
